setuptools<74.0.0
beautifulsoup4==4.15.0
certifi==2026.6.17
charset-normalizer==3.4.9
feedparser==6.0.12
idna==3.18
loguru==0.7.3
lxml==6.1.1
PyYAML==6.0.3
requests==2.34.2
sgmllib3k==1.0.0
soupsieve==2.8.4
typing_extensions==4.16.0
urllib3==2.7.0
sentence-transformers
pandas==2.2.1
numpy==1.26.4
mlflow==2.11.0
ollama
httpx
pydantic
scikit-learn
wheel
apache-airflow-providers-smtp
apache-airflow-providers-slack
umap-learn>=0.5.3
hdbscan>=0.3.3
